[sandbox]
user = {{ sm_sandbox_user }}
key_file = {{ sm_sandbox_key_file }}
key_file_pass = {{ sm_sandbox_key_file_pass }}

[proxy]
user = {{ sm_proxy_admin_user }}
key_file = {{ sm_proxy_key_file }}
key_file_pass = {{ sm_proxy_key_file_pass }}
